@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  vertical-align: top;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
body {
  word-break: keep-all;
  font: 15px / 1.5 Pretendard, Roboto, 'Helvetica Neue', 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
}
/* header-S */
.header {
  width: 15%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}
.logo {
  width: 180px;
  height: 64px;
  position: absolute;
  left: 50%;
  top: 100px;
  background-size: contain;
  transform: translate(-50%, 0)
}
.logo a {
  display: block;
  width: 100%;
  height: 136px;
  text-indent: -9999px;
  background: url(/dynamic-design-nike/Logo1.png) no-repeat center center
}
.gnb {
  position: absolute;
  right: 50%;
  top: 300px;
  transform: translate(50%, 0);
}
.gnb ul {}
.gnb li {
  margin-bottom: 20px;
}
.gnb li a {
  font-weight: 500;
  font-size: 17px;
  color: #000;
}
.tnb {
  position: absolute;
  right: 50%;
  bottom: 50px;
  transform: translate(50%, 0);
}
.tnb-about {}
.tnb-about a {
  float: left;
}
.tnb-sns {}
.tnb-sns a {
  float: left;
}
/* header-E */
/* container-S */
.container {
  width: 85%;
  margin-left: 15%
}
.container section {
  float: left;
  width: 20%;
  height: 260px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.container section:nth-child(1) {
  width: 60%;
  min-height: 520px;
  z-index: -1;
  overflow: hidden;
  inset: 0px;
  outline: none;
  border: none;
}
.container section:nth-child(2) {
  width: 40%;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  color: #333;
  padding: 220px 0 0 0;
  background-image: url(/dynamic-design-nike/pic1.jpg);
  transition: .3s;
}
.container section:nth-child(2) .new {
  transition: .3s;
}
.container section:nth-child(3) {
  background-color: #f6822b;
  text-align: center;
  font-weight: 900;
  font-size: 50px;
  color: #f8f8f8;
  padding-top: 180px;
  transition: all .3s;
}
.container section:nth-child(3) .run {
  transition: all .3s;
}

.container section:nth-child(4) {
  background-image: url(/dynamic-design-nike/pic4.jpg);
}
.container section:nth-child(5) {
  background-image: url(/dynamic-design-nike/pic5.jpg);
  background-size: cover;

}
.container section:nth-child(6) {
  background-image: linear-gradient(to right, #f6822b 0%, #f6822b 51%, #0B486B 100%);
  padding: 50px 30px;
  font-weight: 700;
  font-size: 20px;
  color: #333;
  line-height: 35px;
  text-align: center;
  transition: 0.5s;
  background-size: 400% auto;
  display: block;
}
.container section:nth-child(7) {
  display: flex;
  background-color: #000;
  flex-wrap: wrap;
}
.container section:nth-child(8) {
  width: 40%;
  background-image: url(/dynamic-design-nike/pic.8.jpg);
  background-size: cover;
}
.container section:nth-child(9) {
  width: 40%;
  background-image: url(/dynamic-design-nike/pic9.jpg);
  background-size: cover;
}
.container section:nth-child(10) {
  background-image: url(/dynamic-design-nike/pic10.jpg);
  background-size: cover;
}
.container section:nth-child(11) {
  background-image: url(/dynamic-design-nike/pic11.jpg);
  background-size: cover;
  padding-top: 190px;
}
.container section:nth-child(11) .time {
  text-align: center;
  font-weight: 700;
  font-size: 15px;
  color: #333;
  opacity: 0;
  transition: all 0.3s;
}
.container section:nth-child(12) {
  background-image: url(/dynamic-design-nike/pic12.jpg);
  background-size: cover;
  padding: 30px 30px;
}
.container section:nth-child(12) .yoga {
  font-weight: 700;
  font-size: 50px;
  color: #333;
  opacity: 0;
  transition: all .3s;
}
.container section:nth-child(2):hover .new {
  color: #000944;
  transform: scale(1.2);
}
.container section:nth-child(3):hover {
  background-color: #000;
  color: #f6822b;
}
.container section:nth-child(3):hover .run {
  opacity: 100%;
  transform: scale(1.2);
}
.container section:nth-child(6):hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  transform: scale(1.1);
  box-shadow: 0 0 5px #000;
}
.container section:nth-child(7):hover .pic7 {
  animation-name: rotate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
.container section:nth-child(7):hover {
  background-color: #777;
}
.container section:nth-child(11):hover .time {
  color: #333;
  opacity: 1;
  transform: scale(1.1);
}
.container section:nth-child(12):hover .yoga {
  color: #333;
  opacity: 1;
  transform: scale(0.8);
}

/* container-E */
/* footer-S */
footer {
  display: block;
  flex-wrap: wrap;
  width: 85%;
  height: 100px;
  margin-left: 15%;
  padding: 40px 50px;
  background-color: #333;
}
.f-addr {
  display: flex;
  justify-content: space-between;
}
.address {
  display: flex;
  flex-wrap: wrap;
  font-weight: 200;
  font-size: 12px;
  color: #f3f3f3;
}
.f-addr p {
  font-weight: 200;
  font-size: 12px;
  color: #f3f3f3;
}
/* footer-E */
/******************
 max-width : 1400px
******************/
@media all and (max-width : 1400px) {
  /* header-S */
  .header {
    width: 100%;
    height: 100px;
    position: relative;
  }
  .logo {
    width: 250px;
    height: 50px;
    left: 20px;
    top: 25px;
    transform: translate(0, 0);
  }
  .logo a {
    width: 100%;
    height: 50px;
    background-image: url(/dynamic-design-nike/logo2.png);
  }
  .gnb {
    right: 200px;
    top: 0;
    transform: translate(0, 0);
  }
  .gnb li {
    float: left;
    height: 100px;
  }
  .gnb li a {
    display: block;
    height: 100px;
    margin: 0 40px;
    line-height: 100px;
  }

  .tnb {
    right: 20px;
    bottom: 26px;
    transform: translate(0, 0);
  }
  .tnb-about a {
    float: left;
  }
  .tnb-sns a {
    float: left;
  }
  /* header-E */
  /* container-S */
  .container {
    width: 100%;
    margin-left: 0;
  }
  .container section {
    width: 25%;
  }
  .container section:nth-child(1) {
    width: 75%;
  }
  .container section:nth-child(2) {
    width: 25%;
  }
  .container section:nth-child(6) {
    width: 50%;
  }
  .container section:nth-child(7) {
    width: 60%;
  }
  .container section:nth-child(9) {
    width: 25%;
  }
  .container section:nth-child(10) {
    width: 50%;
  }
  .container section:nth-child(11) {}
  .container section:nth-child(12) {}
  /* container-E */
  .footer {
    width: 100%;
    margin-left: 0;
  }
}
/******************
 max-width : 1000px
******************/
@media all and (max-width : 1000px) {
  /* header-S */
  .gnb {
    display: none;
  }
  /* header-E */
  /* container-S */
  .container section {
    width: 50%;
  }
  .container section:nth-child(1) {
    width: 100%;
    height: 400px;
  }
  .container section:nth-child(2) {
    width: 100%;
  }
  .container section:nth-child(3) {
    display: none;
  }
  .container section:nth-child(4) {}
  .container section:nth-child(5) {
    display: none;
  }
  .container section:nth-child(6) {
    width: 50%;
  }
  .container section:nth-child(7) {
    display: none;
  }
  .container section:nth-child(8) {
    float: right;
  }
  .container section:nth-child(9) {
    width: 50%;
  }
  .container section:nth-child(10) {
    display: none;
  }
}
/* container-E */
/******************
 max-width : 640px
******************/
@media all and (max-width : 640px) {
  /* header-S */
  .header {
    height: 100vh;
    position: fixed;
    background-image: url(/dynamic-design-nike/640-bg.jpg);
  }
  .logo {
    width: 180px;
    height: 136px;
    left: 50%;
    top: 50px;
    transform: translate(-50%, 0)
  }
  .logo a {
    height: 136px;
    background-image: url(/dynamic-design-nike/640-Logo.png);
  }
  .gnb {
    display: block;
    right: 50%;
    top: 250px;
    transform: translate(50%, 0);
  }
  .gnb li {
    float: none;
    width: 250px;
    height: 50px;
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s;
  }
  .gnb li::before {
    content: "";
  }
  .gnb li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: 0;
    line-height: 50px;
    text-align: center;
    color: #333;
    background-color: #f5f5f5e5;
  }
  .gnb li:hover {
    transform: scale(1.1);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.68);
    -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.68);
  }
  .tnb {
    display: none;
  }
  /* header-E */
  /* container-S */
  .container section {
    display: none;
  }
  .container section:nth-child(6) {
    display: none;
  }
  /* container-E */

  /* footer -S */
  #footer {
    display: none;
  }
  /* footer -E */
}